body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

h1, h2, h3, h4, h5 {
  font-family: "Interstate", interstate-regular, "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

h1, h2 {
  margin-top: 0px; }

a {
  color: #0000FF;
  text-decoration: none;
  padding: 2px 4px;
  margin: 0px 1px;
  display: inline-block;
  border: 1px outset #ddd;
  background: #ddd; }
  a img {
    border: none; }
  a:hover {
    border: 1px inset #ddd;
    background: #ccc;
    color: #000080; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

table.list {
  width: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  background: #fff;
  border-collapse: collapse;
  text-align: left; }
  table.list th {
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 4px 8px;
    border-bottom: 1px solid #6678b1; }
    table.list th.pagination {
      border-top: 1px solid #6678b1;
      border-bottom: 0px solid #6678b1;
      text-align: center; }
  table.list td {
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 2px 8px; }
    table.list td.label {
      text-align: right;
      vertical-align: text-top;
      font-weight: bold; }
  table.list tbody tr:hover td {
    color: #009; }

table.show {
  width: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  background: #fff;
  border-collapse: collapse;
  text-align: left;
  border: 1px solid #6678b1; }
  table.show th {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    padding: 4px 8px;
    border-bottom: 1px solid #6678b1; }
  table.show td {
    color: #669;
    padding: 2px 8px; }
    table.show td.label {
      width: 150px;
      color: #039;
      text-align: right;
      vertical-align: text-top;
      font-weight: bold; }
  table.show tbody tr:hover td {
    color: #009; }

table.form {
  width: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  background: #fff;
  border-collapse: collapse;
  text-align: left;
  border: 1px solid #6678b1; }
  table.form th {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    padding: 4px 8px;
    border-bottom: 1px solid #6678b1; }
  table.form td {
    color: #669;
    padding: 2px 8px; }
    table.form td.label {
      width: 150px;
      color: #039;
      text-align: right;
      vertical-align: text-top;
      font-weight: bold; }
  table.form tbody tr.submit {
    border-top: 1px solid #6678b1; }
  table.form tbody tr:hover td {
    color: #009; }
