<%% form_for @<%= singular_name %> do |f| %>
  <%%= f.error_messages %>
<%- for attribute in attributes -%>
  <tr>
    <td class="label"><%%= f.label :<%= attribute.name %> %></td>
    <td><%%= f.<%= attribute.field_type %> :<%= attribute.name %> %></td>
  </tr>
<%- end -%>
  <tr>
    <td class="label">&nbsp;</td>
    <td colspan="2"><%%= f.submit t('form.submit') %></td>
  </tr>
<%% end %>
