<%% title t('form.edit') + <%= singular_name.titleize %>.human_name %>

<table>

<%- if actions? :show, :index -%>
  <tr><td colspan="2">
<%- if action? :show -%>
    <%%= link_to "Show", @<%= singular_name %> %> |
<%- end -%>
<%- if action? :index -%>
    <%%= link_to "View All", <%= plural_name %>_path %>
<%- end -%>
  </td></tr>
<%- end -%>

  <%= render_form %>

</table>
