<%% title t('form.new') + <%= singular_name.titleize %>.human_name %>

<table>

<%- if action? :index -%>
  <tr><td colspan="2">
    <%%= link_to "Back to List", <%= plural_name %>_path %>
  </td></tr>
<%- end -%>

  <%= render_form %>

</table>

