<%% title t('form.new') + " " + <%= class_name %>.human_name %>

<table>

<%- if action? :index -%>
  <tr><td colspan="2">
    <%%= link_to t('form.view_all'), <%= plural_name %>_path %>
  </td></tr>
<%- end -%>

  <%= render_form %>

</table>

