<%% title t('form.new') + " " + <%= namespaced_class_name %>.human_name %>

<table class="form">

<%- if action? :index -%>
  <tr class="actions"><th colspan="3">
    <%%= link_to t('form.view_all'), <%= plural_name %>_path %>
  </th></tr>
<%- end -%>

  <%= render_form %>

</table>

